<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookMapper">
    <!--    <select id="selectBlog" resultType="Blog">-->
    <!--        select * from Blog where id = #{id}-->
    <!--    </select>-->

    <insert id="insert" parameterType="com.example.demo.domain.Book">
        insert into t_book(name, author) values (#{name}, #{author})
    </insert>
    <delete id="deleteById">
        delete from t_book where id=#{id}
    </delete>
    <select id="findAll" resultType="com.example.demo.domain.Book">
        select id, name, author from t_book
    </select>
    <select id="findByName" resultType="com.example.demo.domain.Book">
        select id, name, author from t_book where name=#{name}
    </select>

</mapper>